<html>
        <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
        <link rel="stylesheet" type="text/css" href="../css/index.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
        <title><%= title %> </title>
        
    </head>
    <body>
        <div class="all">
            <div class ="header">
            </div>
            <ul class = "content"
                style = "margin:0;padding:0;
                        flex-direction:row;justify-content:flex-start;
                        align-content:flex-start;flex-wrap:wrap;">
             <% value.forEach((v)=>{%>
            <li class = "ingrd_list">
                <input type = "image" class = "ingrd_thumb" src = "../img/egg.png" name = "<%= v %>" />
                <strong><%= v%></strong>
            </li>
              <% }) %>
            </ul>   
            <div class = "footer">
            </div>
        </div>
        <script type = "text/javascript">
        $(document).ready(() => {
            var data = [],
                inputData = function(data,name,value) {
                    return data.concat([{name:name,value:value}]);
                };
            $(':image').click((onClick) => {
                var value = onClick.currentTarget.name,
                    classify_id = '<%= classifyId %>';
                data = inputData(data,'name',value);
                data = inputData(data,'classify_id',classify_id);

                $.ajax({
                    url:"/processing",
                    data: data,
                    type: "get",
                    async: false
                }).done((data) => {
                    if( data === "Sucess") {
                        alert("등록이 완료되었습니다.");
                        location.href = '/refrigerator/';
                    }
                    else if(data === "Fail") {
                        alert("이미 등록된 재료입니다.");
                        location.href = '/classify/';
                    }
                });

            })
        })
        </script>
    </body>
</html>