<html>
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "user-scalable=no, initial-scale = 1.0, width = device-width, minimum-scale = 1.0, maximum-scale = 1.0"/>
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
        <title>Classify Page</title>
    </head>
    <body>
        <div class="app">
            <div id="main_header">
                <aside id="user_menu"></aside>
                <h1>Classify Page</h1>
                <button id="login_btn">로그인</button>
            </div>
            <ul class = "content"
                style = "margin:0;padding:0;
                        flex-direction:row;justify-content:flex-start;
                        align-content:flex-start;flex-wrap:wrap;">
             <% value.forEach((v)=>{%>
            <li class = "ingrd_list">
                <input type = "image" class = "ingrd_thumb" src = "../img/egg.png" name = "<%= v %>" />
                <strong><%= v%></strong>
            </li>
              <% }) %>
            </ul>   
            <div id = "main_footer">
                <input type="button" id="back"/>
                <input type="button" id="reload"/>
            </div>
        </div>
        <script type = "text/javascript">
        $(document).ready(() => {
            $('.app').css('background','url()');
            var data = [],
                inputData = function(data,name,value) {
                    return Array.prototype.concat.call(data,[{name:name,value:value}]);
                };
        $('.ingrd_thumb').click((onClick) => {
                var current = onClick.currentTarget.name,
                    classify_id = `<%= classifyId %>`;

                    //함수형 프로그래밍 바람
                data = inputData(data,'name',current);
                data = inputData(data,'classify_id',classify_id);

                $.ajax({
                    url:"/processing",
                    data: data,
                    type: "get",
                    async: false
                }).done((data) => {
                    if( data === "Success") {
                        console.log('성공');
                        alert("등록이 완료되었습니다.");
                    }
                    else if(data === "Fail") {
                        alert("이미 등록된 재료입니다.");
                    }
                }).always(() => {
                    data = [];
                });
            });
        $('#back').click(() => {
            location.href = '/classify';
        });
        $('#reload').click(() => {
            location.reload();
        });
        $('#user_menu').click(() => {
            location.href = '/main';
        });
                  /* 로그인 관련 */
        var user_id = `<%= user_id %>`;
        
        if(user_id) {
            $('#login_btn').text('로그아웃');
        }        
            /* 로그인 로그아웃 버튼 변경 */
        $('#login_btn').click(function() {
            if($(this).text() === '로그인') {
                location.href = '/login';
            }
            else {
                location.href = '/logout';
            }
        });
        })
        </script>
    </body>
</html>