<html>
<head>
<meta charset="utf-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="msapplication-tap-highlight" content="no" />
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
<link rel="stylesheet" type="text/css" href="../css/index.css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
</head>
<body>
<div class = "app">
<div class = "header" style = "background-color:#f8b600"></div>
<div class = "content" style = "background-color:white; justify-content:flex-start">
    <ul class = "channel_list" style = "margin:0;padding:0">
      <li class = "recipe_item">
        <div class = "thumb">
          <img src = "http://file.okdab.com/UserFiles/searching/recipe/000200.jpg"
          style = "max-width: 100%;height:auto"/>
        </div>
        <strong class = "title">
          이것은 레시피 입니다.<br>
          60분이 걸리고 어렵습니다.
        </strong>
      </li>
      <li class = "recipe_item">
          <div class = "thumb">
            <img src = "http://file.okdab.com/UserFiles/searching/recipe/000200.jpg"
            style = "max-width: 100%;height:auto"/>
          </div>
          <strong class = "title">
            이것은 레시피 입니다.<br>
            60분이 걸리고 어렵습니다.
          </strong>
        </li>
        
    </ul>
    
</div>
<div class = "footer" style = "background-color:#f8b600"></div>
</div>
<script>
  $(document).on()
$.ajax({
url: "/recommand", // 클라이언트가 요청을 보낼 서버의 URL 주소
type: "GET",                             // HTTP 요청 방식(GET, POST)
dataType: "json",                        // 서버에서 보내줄 데이터의 타입
success: function(data){
  
      for(var i = 0;i<data.length;i++)
    {
    let recipe_id = data[i].recipe_id;
    let recipe_name =data[i].recipe_name;
    let type = data[i].type;
    let classi = data[i].classi;
    let time = data[i].time;
    let amount = data[i].amount;
    let level =data[i].level;
    let img = data[i].img_url;
    $('.content').append(`
    <article style = 'font-size: 20px' id = "${recipe_id}">
    <img src = "${img}" style = "weight:50px;height:50px"/>
    ${recipe_id}${recipe_name}${type}${classi}${time}${amount}${level}
    </article>`)
    }
    $('article').bind('click',function(e){
    new Promise((res,rej)=>{
      let result = confirm('이 레시피를 선택하시겠습니까?');
      if(result) {
        res(e.currentTarget.id);
      }
      else rej();
    }).then((recipeid)=>{
      const user_id = 'dygmm4288';
      $.ajax({
      url: "/setRecipe", // 클라이언트가 요청을 보낼 서버의 URL 주소
      data: { user_id: user_id,recipe_id: recipeid },                // HTTP 요청과 함께 서버로 보낼 데이터
      type: "GET",                             // HTTP 요청 방식(GET, POST)
      dataType: "json",
      success: function(data){
      if(data === true){
        alert('선택이 완료되었습니다.');
      }
      else{
        alert('선택이 완료되었습니다.(fail)');
      }
      }
    })
    })
    })
},
error: function(xhr,status,errorThrown){
  console.log('$.ajax Error'+errorThrown,status);
}
}).always((xhr,status)=>{console.log(`Recommand status is : ${status}`);})
</script>
</body>
</html>
