<html>
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "user-scalable=no, initial-scale = 1.0, width = device-width, minimum-scale = 1.0, maximum-scale = 1.0"/>
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
        <title>Refrigerator Page</title>
    </head>
    <body>
        <div id="mask"></div>
        <div id="popup">
           <div>
               <div>
                   <img src="../img/shirmp.jpg" alt="" class="ingrd_thumb">
               </div>
               <h1>재료이름</h1>
           </div>
           <div>
               <input type="date" id="date"/>
           </div>
           <div>
               <div class="btn">
                   <img src="../img/check_icon.png" alt="">
                   <h1>확인</h1>
               </div>
               <div class="btn">
                   <img src="../img/trash_icon.png" alt="">
                   <h1>삭제</h1>
               </div>
           </div>
        </div>
        <div class="app">    
            <header id="main_header">
                <aside id="user_menu"></aside>
                <h3>RefrigeratorPage</h3>
                <button id = "login_btn">로그인</button>
            </header>
            <div class="content">
            <% for(var i =0 ;i<4;i++){ %>
                <div class="column">
                    <div class="floor" id = <%= i+1 %>>
                        <a href="/classify" style = "align-self:center">
                            <input type="button" class="circle" style = "font-size:20px"
                            value = "+">
                        </a>
                    </div>
                    <div class="line"></div>
                </div>
            <% } %>
            </div>
            <nav id="main_footer">
                <input type="button" id="back"/>
                <input type="button" id="reload"/>
            </nav>
        </div>
        <script type = "text/javascript">
        
        $(document).ready(function() {
            function wrapWindow() {
            var maskHeight = $(document).height(),
                maskWidth = $(window).width();
            $('#mask').css({'width':maskWidth,'height':maskHeight});
            $('#mask').fadeTo("slow",0.5);
        }
            $('.app').css('background','url("")');
            $('#popup').hide();
            var user_id = '<%= id %>';
            $.ajax({
                url: "/getRecipe", 
                data: { user_id: user_id},               
                type: "GET",                             
                dataType: "json",
                async: false,
                success: function(data) {
                var id = 1,
                insert_element = null;
                data.forEach((value)=>{
                insert_element = `
                <div class = "recipe_item">
                <input type = "image" class = "ingrd_thumb" src = "../img/shirmp.jpg"/>
                <div style = "flex: 0 1 10%; background-color:green"></div>
                <strong>${value.ing_name}</strong>
                </div>`
                $(insert_element).prependTo(`#${id}`);
                });
                }
            });
            $('.floor > .recipe_item').click(function(e) {
                e.preventDefault();
                var width = $('.content').width(),
                    height = $('.content').height(),
                    windowHeight = $(window).height();
                wrapWindow();
                $('#popup').css(
                    {'width':width,
                    'height':windowHeight/2});
                $('#popup').animate({top:windowHeight}).promise().then(()=>{
                    return $('#popup').show().animate({top:windowHeight/2},500);
                });
            });
            $('#mask').click(function() {
                $(this).hide();
                $('#popup').hide();

            });
            $('#back').click(() => {
                location.href = '/main';
            });
            $('#reload').click(() => {
                location.reload();
            });
            $('#user_menu').click(() => {
            location.href = '/main';
            });
            $('.btn').click(function() {
                var text = $(this).children('h1').text(),
                    name = $('#popup').children('div').eq(0).children('h1').text(),
                    date = $('#date').val();
                    sql = '';
                console.log(text,name,date);
                if(text === '확인') {
                    sql = ''
                }
                else if(text === '삭제') {
                    sql = '';
                }
            })
            


    });
        
        </script>
    </body>
</html>