 /* 초기화코드 */
 * {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin:0; padding:0;
}
body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #d2d2d2;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;    
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
li {
    list-style:none;
}
a {
    text-decoration:none;
}
.app {
    max-width: 100%;
    height: 100%;
    margin: 0 auto; 
    text-align:center;
    background:url(../img/refrigerator.png) no-repeat center;
    background-size: 350px 350px;
    background-position-y:20%;
}
#main_header{
    max-width: 100%;
    height: 10%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding-right: 10px;
    text-align: center;
    line-height: 15px;
    background-color:orange;
}
.content{
    display: flex;
    max-width:100%;
    height: 80%;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
}
#main_footer{
    display: flex;
    max-width:100%;
    height: 10%;
    flex-direction: row;
    justify-content: space-between;
    background-color:orange;
}
    /* 헤더부분 */
#user_menu {
    flex-basis: 20%;
    background:url('../img/home_icon.png') center no-repeat;
    background-size: 45%;
    border: 0;
}
#login_btn {
    flex: 0 0 20%;
    border-radius:20px;
    background-color:white;
    align-self: center;
}
#main_header > h1 {
    align-self: center; 
    color: white;
}
#main_header > h3 {
    align-self: center;
    color: white;
}
    /* 푸터 부분 */
#back {
    flex: 0 0 20%;
    background:url('../img/back_icon.png') center no-repeat;
    background-size: 60%;
    border:0;
}
#reload {
    flex: 0 0 20%;
    background:url('../img/reload_icon.png') center no-repeat;
    background-size: 60%;
    border:0;
}
#home {
    flex: 0 0 20%;
    background:url('../img/home_icon.png') center no-repeat;
    background-size: 60%;
    border:0;
}
    /* content부분 */
.service_btn {
    width: 100%;
    height: 10%;
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    margin-top: 10px;
}
input[type=text], input[type=password]{
    block-size: 10%;
    border: 1px solid #ccc;
    border-radius: 10px;
    width:80%;
    margin-bottom:5px;
}
input[type=text]:focus,input[type=password]:focus{
    background-color: lightblue;
}
.submitButton {
    animation:fade 4000ms infinite;
    -webkit-animation: fade 4000ms infinite;
    block-size: 5%;
    width:45%;
    border: 1px solid #ccc;
    font-size: 16px;
    border-radius:8px;
    background-color: gray;
}
.stateButton{
    background-color: #f8b600;
    border-radius: 8px;
    font: bold;
    border-color: #f8b600;
}
.column{
    flex: 0 0 25%;
    background-color:gray;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:stretch;
}
.floor {
    background-color:rgba(255, 255, 255, 0.767);
    border:solid;
    border-width:20px;
    border-top-width:0px;
    border-bottom-color:#8EAFE5;
    border-left-color:#4472C4;
    border-right-color:#4472C4;
    /* box-sizing:border-box; */

    display:flex;
    flex: 0 0 95%;
    flex-direction: row;
    justify-content: flex-start;
}
.line{
    max-width: 100%;
    flex: 0 0 5%;
    background-color: rgba(255, 255, 255, 0.767);
 }

        /* 팝업창 */
 #popup {
    position:fixed;
    width: 0px;
    height: 0px;
    top:0px;
    z-index:9001;
    background-color:white;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
 }
 #popup > div{
     flex: 0 0 33.33%;
     display: flex;
     justify-content: flex-start;
 }
 #popup > div:nth-child(1) {
     flex-direction: row;
     align-items: center;
 }
 #popup > div:nth-child(1) > div {
     flex: 0 0 30%;
     max-width: 30%;
     height: 100%;
     border-radius: 30px;
     text-align: center;
 }
    /* input 날짜 */
 #popup > div:nth-child(2) {
     justify-content: center;
     align-items: center;
 }
 #date {
     width: 100%;
     font-size:3em;
     text-align:center;
 }
 input[type="date"]::-webkit-clear-button {
     display:none;
 }
    /* 팝업 버튼 */
 #popup > div:nth-child(3) {
     flex-direction: column;
 }
 #mask {
     position:absolute;
     left:0;
     top:0;
     z-index:9000;
     background-color:#ffffff;
     display:none;
 }
 
        /* 버튼 */
.btn {
    background-color:orange;
    border-radius: 10px;
    width: 100%;
    flex: 0 1 50%;
    display:flex;
    justify-content:flex-start;
    overflow:hidden;
    align-items: center;
    border:solid 1px;
    border-color: white;
}
.btn > img {
    
    flex: 0 4 20%;
    max-width: 15%;
    height: auto;
    
}
.btn > h1 {
    flex: 0 0 70%;
    color: white;
    text-align:center;

}
.btn_classify {
    flex: 0 0 14.29%;
    border-radius: 10px;
    background-color: white;
    font-size: 1.7em;
}
#cancle_btn{
   /* -webkit-animation:fade 4000ms infinite;*/
    block-size:30px;
    width: 45%;
    position:relative;
    top:10px;
    border: 1px solid #ccc;
    font-size:16px;
    border-radius:8px;
    background-color: #fcff4e;
}
/*Landscape layout (with min-width) */


.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 4000ms infinite;
    -webkit-animation:fade 4000ms infinite;
    position:relative;
}
.submit{
    animation:fade 4000ms infinite;
    -webkit-animation:Fade 4000ms infinite;
    background-color: #fcff4e
}
/* 이가온 부분 */
.fixed {   
    height: 10%;
    position: relative;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color:white;
}
.font{
    font-size: 30;
   
}
.all{
    max-width: 350px;
    height: 600px;
    margin: 0 auto; 
    position: relative;
    top: 50px;
}
.circle{
    width: 37px;; height:34px; border-radius:50px;
    background-color: #f8b600;
    text-align: center;
}
.plus{
left:310px;

font-size: 50px;
position: absolute;
bottom: 15px;

}
/* .button{
    width: 100%;  height: 14.5%; 
    font-size:23px;
    color:black;
    text-align:center;
    background-color: rgb(255, 255, 255); 
    position:relative; 
    border-radius:10px;
} */
.ingrd_list{
    display: flex;
    flex-direction: column;
    flex: 0 0 24%;
    align-items:center;
    margin: 0 1 10 0;
}
.ingrd_thumb{
    border-radius: 40px;
    background-color:white;
    max-width: 80%;

    align-self: center;

}
.classify{
    position:relative; 
    max-width: 40%;  height: 33%; 
    background-color: rgb(66, 211, 255); 
    font-size:20px;
    text-align: center;
    border-radius:10px ;

}
 .solidbox{
    position:relative; 
    width: 40%;  height: 33%; 
    margin-left: 5%;
    border:solid;
    font-size:20px;
    text-align: center;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
          border-radius:10px ;


 }
 .inputbox{
    position:relative; 
    width: 30%;  height: 7%; 
    margin-left: 7%;
 
    background-color: rgb(241, 226, 87); 
    font-size:20px;
    text-align: center;
    display:-webkit-flex;
    display:flex;
    -webkit-align-items: center;
          align-items: center;
  -webkit-justify-content: center;
          justify-content: center;
          border-radius:10px ;
}
    
.list{
    background-color: white;
    flex: 1;
    border: none;
    position: relative;
    border-radius: 6px;
}

/* .content{
    display: flex;
    max-width:100%;
    height: 80%;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
} */
.channel_list {
    display: flex;
    flex-direction:row;
    width:100%;
    height:50%;
    flex: none;
    flex-wrap: wrap;
    overflow:auto;
    justify-content: space-between;
}
.recipe_item {
    display: flex;
    flex-direction: column;
    flex:0 0 25%;
    justify-content: flex-start;

}
.thumb {
    margin: 0 auto;
    flex: auto;
}
.channel_list .title {
    flex: none;
    flex-basis: 40px;
    min-height: 0;
    margin-top: 5px;
    font-size: 13px;
}
.box .title {
    flex: 0 1 10%;

}
.box > a {
    align-self:center;
}

